.btn {
  max-width: 180px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  background-color: $btn_default-bg;
  color: $btn_default-color;
  transition: all 0.3s;

  .book-about &,
  .book-detail-info & {
    max-width: 50px;
    padding: 5px;
    background-color: $color_card-link;
    margin-right: 10px;
  }

  .cart {
    max-width: 100px;
  }

  &.cart {
    &:hover {
      background-color: $hover_cart;
    }
  }

  &.favorites {
    &:hover {
      background-color: $hover_favorites;
    }
  }

  &:hover {
    background-color: $btn-hover_default-bg;
  }
}

.btn__switch-favorites {
  background-color: $color_favorites;
  color: $black;

  &:hover {
    background-color: $color_hover-favorite;
  }
}
