.link {
  border: none;
  padding: 5px 10px;
  text-align: center;
  color: $color_link;

  .header &,
  .footer & {
    font-size: 18px;
  }

  .header & {
    position: relative;
    padding: 15px 20px;
    transition: $transition_bg-color;

    &:hover {
      background-color: $hover_link-color;
    }
  }

  .logo & {
    box-shadow: none;
    max-width: 110px;
    width: 100%;
  }

  .footer & {
    color: $base__link-color;
    &:hover {
      text-decoration: underline;
    }
  }

  .simple-menu & {
    text-align: start;
    box-shadow: none;
    &:hover {
      color: $color_log-link;
    }
  }

  .error-boundary & {
    color: $pay_attention;
  }
}
