.link {
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;

  .simple-menu & {
    text-align: start;
    &:hover {
      color: $color_log-link;
    }
  }

  .error-boundary & {
    color: $pay_attention;
  }
}
