$base__link-color: #2c2c2c;
$base__border-color: #787878;
$base__linkHover-color: #4b4b4b;
$base__font-size: 18px;
$base__font-family: 'Roboto', sans-serif;

$black: #242424;
$white: #fff;
$pay_attention: #1c20ff;
