@import 'styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: $bg_header;
  position: relative;
}

.header-nav-links {
  display: flex;
  justify-content: flex-end;
}

.log-link {
  &:hover {
    background-color: $color_log-link;
  }
}

.cart-link {
  &:hover {
    background-color: $color_card-link;
  }
}

.contacts-link {
  background-color: transparent;
}

.logo-link {
  font-size: 16px;
  font-weight: bold;
  width: 80px;
  display: flex;

  @media (min-width: 310px) {
    width: 120px;
  }
}

.logo-img {
  display: none;
  width: 20px;
  height: auto;
  margin-right: 5px;

  @media (min-width: 310px) {
    display: block;
  }
}
