@import 'styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: $bg_header;
  position: relative;
}

.header-nav-links {
  display: flex;
  justify-content: flex-end;
}

.menu-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.log-link {
  &:hover {
    background-color: $color_log-link;
  }
}

.card-link {
  &:hover {
    background-color: $color_card-link;
  }
}

.contacts-link {
  background-color: transparent;
}

.logo-link {
  font-size: 16px;
  font-weight: bold;
  width: 80px;
  display: flex;

  @media (min-width: 310px) {
    width: 120px;
  }
}

.burger-menu {
  @media (min-width: 700px) {
    display: none;
  }
}

.logo-img {
  display: none;
  width: 20px;
  height: auto;
  margin-right: 5px;

  @media (min-width: 310px) {
    display: block;
  }
}

.btn:focus {
  outline: none;
}

.simple-menu {
  top: -20px;
  left: -3px;
  width: 200px;
  height: 100vh;
  position: absolute;
  background-color: $white;
  box-shadow: 100px 0 100px 1000px #00000062;
  z-index: 6;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
