.header-container{
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding:10px 10%;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.btn-group{
  display: flex;
  justify-content: flex-end;
}