.book {
  margin: 30px 0;
}

.book-detail {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-detail-info {
  width: 100%;

  @media (min-width: 1023px) {
    max-width: 480px;
  }
}

.book-bookmark {
  margin-right: 20px;
}

.book-bookmark-media {
  &:hover {
    color: #fdae1c;
  }
}

.book-basket-media {
  &:hover {
    color: #73b6dd;
  }
}

.book-button {
  border-radius: 10px;
  cursor: pointer;
}

.go-back {
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}
