@import '~normalize.css';
@import './styles/main.scss';

body {
  min-height: 100vh;
  font-size: $base__font-size;
  font-family: $base__font-family;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $base__link-color;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#root {
  min-height: 100vh;
}

.cart-count {
  position: absolute;
  bottom: 100%;
  left: 100%;
  color: $color_cart-count;
}
